.titre{
	text-align: center;
	margin: 15px;
	padding: 50px;
	padding-top: 0px;
	margin-bottom:20px;
	color: #E21F81;
}

.photo{
	float: left;
}

.citation{
	text-align: center;
	border:2px solid black;
	margin-left:350px;
	background-color: #E975AF;
	font-style: italic;
	font-family: 'Josefin Sans', sans-serif;
}

.rightsection{
	display: inline-flex;
	flex-direction: column;
	margin: 150px;
	margin-top:5px;
}

.leftsection{
	display: inline-flex;
	flex-direction: column;
}

.formation{
	border:2px solid black;
	background-color:#A0B5B2;
	margin-bottom: 65px
}

.interets{
	border:2px solid black;
	background-color:#A0B5B2;
}

.experiences{
	border:2px solid black;
	background-color:#A0B5B2;
	margin-bottom: 45px
}

.competences{
	border:2px solid black;
	background-color:#A0B5B2;
}

.anecdote{
	text-align: center;
	border:5px double #E975AF;
	font-family: 'Josefin Sans', sans-serif;
}